body {
  color: white;
  font-family: "Roboto Mono", monospace;
  min-height: 854px;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-2-calculadora-certa.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #000;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}
#quadro_pokemons {
  margin: 5% auto;
}

#quadro_pokemons .linha {
  background-size: cover;
  background: white;
  display: flex;
  width: max-content;
  height: 178px;
  box-sizing: border-box;
  margin: 0 auto;
}

#quadro_pokemons .linha img {
  display: block;
  height: 100%;
}

#quadro_pokemons .linha img.sinueta {
  filter: brightness(0);
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}